@model DTO.AppUserDto.GetUserByIdDto

@{
    Layout = "~/Views/DefaultStaff/Index.cshtml";
}

<!DOCTYPE html>
<html lang="en">



<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                
                
<div class="container-fluid">

    <h1 class="h3 mb-4 text-gray-800">Personel Bilgileri</h1>

    <div class="card shadow mb-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Ad Soyad:</dt>
                <dd class="col-sm-9">@Model.FirstName @Model.LastName</dd>

                <dt class="col-sm-3">TC Kimlik No:</dt>
                <dd class="col-sm-9">@Model.TCNo</dd>

                <dt class="col-sm-3">Doğum Tarihi:</dt>
                <dd class="col-sm-9">@Model.BirthDate.ToShortDateString()</dd>

                <dt class="col-sm-3">Cinsiyet:</dt>
                <dd class="col-sm-9">@Model.Gender</dd>

                <dt class="col-sm-3">Telefon:</dt>
                <dd class="col-sm-9">@Model.PhoneNumber</dd>

                <dt class="col-sm-3">İşe Başlama Tarihi:</dt>
                <dd class="col-sm-9">@Model.StartingJob.ToShortDateString()</dd>

                <dt class="col-sm-3">Departman:</dt>
                <dd class="col-sm-9">@Model.DepartmanName</dd>

                <dt class="col-sm-3">Görev Ünvanı:</dt>
                <dd class="col-sm-9">@Model.JobTitle</dd>

                <dt class="col-sm-3">İş Tipi:</dt>
                <dd class="col-sm-9">@Model.JobTypeName</dd>

                <dt class="col-sm-3">Sicil No:</dt>
                <dd class="col-sm-9">@Model.SicilNo</dd>

                <dt class="col-sm-3">Brüt Maaş:</dt>
                <dd class="col-sm-9">@Model.BrutSalary ₺</dd>

                <dt class="col-sm-3">Net Maaş:</dt>
                <dd class="col-sm-9">@Model.NetSalary ₺</dd>

                <dt class="col-sm-3">IBAN:</dt>
                <dd class="col-sm-9">@Model.Iban</dd>

                <dt class="col-sm-3">Prim:</dt>
                <dd class="col-sm-9">@Model.Prim ₺</dd>

                <dt class="col-sm-3">Kesintiler:</dt>
                <dd class="col-sm-9">@Model.Disruptions ₺</dd>

                <dt class="col-sm-3">Aktif mi?:</dt>
                <dd class="col-sm-9">@Model.IsActive</dd>

                <dt class="col-sm-3">Yönetici:</dt>
                <dd class="col-sm-9">@Model.ManagerName</dd>
                
                <dt class="col-sm-3">Kullanici Adi:</dt>
                <dd class="col-sm-9">@Model.UserName</dd>
                
            </dl>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    
</body>

</html>